<td-header></td-header>

<div class="main-page-wrapper content-fluid" ng-controller="PostController">
    <div class="row">
        <div class="col-sm-8">
            <div class="post-form">
                <textarea name="postContent" cols="70" rows="5" ng-model="postForm.content" placeholder="Create a post..."></textarea>
                <input type="button" value="Publish" class="btn btn-primary" ng-click="createPost()">
            </div>
        </div>
        <div class="col-sm-4"></div> 
    </div>
</div>

