<td-header></td-header>

<div class="main-page-wrapper content-fluid" ng-controller="MainController">
    <div class="row">
        <div class="col-sm-8">
            <div class="post-form">
                <textarea name="postContent" cols="70" rows="5" ng-model="postForm.postContent" placeholder="Create a post..."></textarea>
                <input type="button" value="Publish" class="btn btn-primary" ng-click="createPost()">
            </div>
            <p class="post-catgegory-title">Posts:</p>
            <div class="posts-list">
                <div class="user-posts" ng-repeat="post in posts">
                    <div class="post-header content-fluid">
                        <div class="row">
                            <p class="col-md-8 post-title">{{ post.userId }} <span>posted:</span></p>
                            <p class="col-md-4 post-date">{{ post._id }}</p>
                        </div>
                    </div>
                    <div class="post-description">{{ post.postContent }}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div> 
    </div>
</div>

