<header ng-controller="HeaderController">
    <div class="td-header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="assets/images/logo.png" alt="logo" id="logo">
                </div>
                <div class="col-sm-10">
                    <div class="row" ng-if="!isLogged">
                        <div class="col-sm-3 col-sm-offset-5"><input type="text" ng-model="loginForm.email" placeholder="email" class="form-control login"></div>
                        <div class="col-sm-3"><input type="password" placeholder="password" ng-model="loginForm.password" class="form-control login"></div>
                        <div class="col-sm-1"><input type="button" value="Login" ng-click="loginSubmit()" class="btn btn-primary headerBut"></div>
                    </div>
                    <div class="row" ng-if="isLogged">
                        <div class="col-sm-6"><input type="text" name="searchString" placeholder="search" class="form-control" ng-model="search.searchString" ng-keypress="myFunct($event)"></div>
                        <div class="col-sm-4 col-sm-offset-2 profile-menu"> 
                            <a ng-href="/#/account-info/{{userData._id}}">{{ userData.name }}</a>
                            <a ng-href="/#/main-page">Home</a>
                            <a href="/#/friend-requests">Requests</a>
                            <a ng-href="/#/chat">Chat</a>
                            <input type="button" value="Logout" ng-click="logout()" class="btn btn-primary headerBut">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>