.td-main-wrapper {
    width: 100%;
}
body {
    min-height: 100vh;
}

.home-wrapper {
    background-image: url("../images/reg-bg.jpg");
    min-height: 100vh;
}

.td-header-wrapper {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #00ccff;
}

#logo {
    height: 100%;
    max-height: 50px;
}

.register-form-wrapper {
    padding: 10px;
    background: rgba(247, 244, 244, 0.8);
    border-radius: 10px;
    border: 1px solid #00ccff;
}

/*
#search{
    width: 5em;
}

.well{
    width: 47.6em;
    margin-left: 30%;
    background-color:rgba(	0, 204, 255, 0.4);
}

.login{
    width: 20em;
    float: right;
    margin: 0.5em;
    margin-top: -0.5em;
}

.headerBut{
    float: right;
    margin: 0.5em;
    margin-top: -0.5em;
}

#logo{
    height: 2em;
}
.radio-inline{
    font-weight: bold;
    margin: 0.5em;
    text-align: left;
}

.well>p{
    font-weight: bold;
    text-align: center;
}

.registerb{
    margin-left: 20em;
}

#mainBody{
    background-color: rgb(244, 247, 246)
}

#search{
    width: 20em;
    display: block;
}*/