<div ng-controller="updateAccountController">
    <td-header></td-header>
    <form action="">
        <input type="text" placeholder="Name" id="firstName" ng-model="updateForm.name" />
        <input type="text" placeholder="Last name" id="lastName" ng-model="updateForm.lastname" />
        <input type="email" placeholder="Email" id="email" ng-model="updateForm.email" />
        <input type="password" placeholder="Password" id="password" ng-model="updateForm.password" />
        <input type="date" placeholder="" id="birthday" ng-model="updateForm.birthday" />
        <input type="button" value="Update" ng-click="update()">
    </form>
</div>